
.read{
  margin:2% auto;
  width:90%;
}

.read > h1{
  color:#263238;
  padding:10px;
}

.read .news_content{
  display:inline-block;
  max-width:700px;
  width:100%;
  vertical-align:top;
}

.read .news_content h1{
  font-size:20px;
}

.read .news_content img{
 object-fit:cover;
  width:100%;
}

.read .news_relations{
  display: inline-block;
  vertical-align:top;
}