*,html{
  margin:0;
  padding:0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color:#FFF;
  padding:0;
  margin:0;
  width:100%;
}
a{
  cursor:pointer;
}
.fix{
  clear:both;
}

.wrapper{
  width:100%;
  max-width:1200px;
  height:100%;
  position:relative;
  margin:0 auto;
  padding:0;
  background-color:#f0f7fb;
}

.container{
  max-width:1200px;
  width:100%;
  margin:0 auto;
}

.hidden{
  display:none;
}

.facebook{
  background-image:url('/theme/images/facebook.png');
  background-size:33px 33px;
  background-repeat:no-repeat;
  width:33px;
  height:33px;
  display:block;
}

.twitter{
  background-image:url('/theme/images/twitter.png');
  background-size:33px 33px;
  background-repeat:no-repeat;
  width:33px;
  height:33px;
  display:block;
}

.google-plus{
  background-image:url('/theme/images/google.png');
  background-size:33px 33px;
  background-repeat:no-repeat;
  width:33px;
  height:33px;
  display:block;
}

.vk{
  background-image:url('/theme/images/vkontacke.png');
  background-size:33px 33px;
  background-repeat:no-repeat;
  width:33px;
  height:33px;
  display:block;
}

.linked-in{
  background-image:url('/theme/images/linkedin.png');
  background-size:33px 33px;
  background-repeat:no-repeat;
  width:33px;
  height:33px;
  display:block;
}

.youtube{
  background-image:url('/theme/images/youtube.png');
  background-size:33px 33px;
  background-repeat:no-repeat;
  width:33px;
  height:33px;
  display:block;
}

.header{
  max-width:1200px;
  width:100%;
  position:relative;
  margin:0 auto;
}

.header-place{
  width:100%;
  margin:0 auto;
  position:relative;
}

.header-top{
  position:relative;
  text-align:center;
  background-color:#e22219;
  padding:2px 0 5px 0;
}

.header-top ul{
  margin:0 auto;
  padding:0;
  list-style:none;
  max-width:1200px;
  width:100%;
}

.header-top ul li{
  display:inline-block;
  margin-right:40px;
}

.header-top ul li:last-child{
  margin-right:0 !important;
}

.header-top ul li a{
  color:#FFF;
  text-decoration:none;
  font-size:14.5px;
}

.header-bot{
  height:50px;
  position:relative;
  max-width:1200px;
  width:100%;
  margin:0 auto;
  padding:20px 0 30px 0;
}

.header-bot div{
  position:relative;
}

.header-bot .logo{
  float:left;
  margin-left:25px;
}

.header-bot .logo a{
  background-image:url('/theme/images/logo-black.png');
  background-size:194px 59px;
  background-repeat:no-repeat;
  display:block;
  width:200px;
  height:60px;
}

.header-bot .search-lang-login{
  float:right;
}

.header-bot .search-lang-login div{
  position:relative;
  display:inline-block;
  margin-top:7px;
  vertical-align:bottom;
}

.header-bot .search-lang-login .search input{
  background-color:#e22219;
  width:250px;
  padding:6px 10px 8px 10px;
  color:#FFF;
  border:none;
  outline:none;
  font-size:15px;
}

.header-bot .search-lang-login .search a{
  background-image:url('/theme/images/search.png');
  background-size:13px 13px;
  background-repeat:no-repeat;
  width:13px;
  height:13px;
  display:block;
  position:absolute;
  z-index:1;
  top:8px;
  right:5px;
}

.header-bot .search-lang-login .lang .active-language{
  top:0;
  position:relative;
  display:block;
  padding:5px 36px 8px 10px;
  width:80px;
  background-color:#e22219;
  background-image:url('/theme/images/down.png');
  background-repeat:no-repeat;
  background-size:21px 11px;
  background-position:right 10px center;
  color:#FFF;
}

.header-bot .search-lang-login .lang ul{
  margin:0;
  padding-top:5px;
  list-style:none;
  display:none;
  position:absolute;
  background-color:#e22219;
  left:0;
  z-index:11;
}


.header-bot .search-lang-login .lang ul li a{
  color:#FFF;
  text-decoration:none;
  padding:7px 10px 7px 10px;
  display:block;
}

.header-bot .search-lang-login .login{
  margin-right:20px;
}

.header-bot .search-lang-login .login a{
  padding:6px 10px 8px 10px;
  background-color:#e22219;
  text-decoration:none;
  color:#FFF;
}

.header-bot .search-lang-login .rss{
  margin-right:20px;
}

.header-bot .search-lang-login .rss a{
  width:            32px;
  height:           31px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACmklEQVRYR7WXgXETQQxF9SsAKoBUAK6AuAJIBUAFhAqIKyBUQFwBSQUkFWAqIB0AFXzm32g96zvpdi/jaMaTxLeneyt9/duA5K2ZvTaznZn9NbN7/+j7XwD03aMFKoDsIQK5NrMbAII7avQA1A8UzBWA7bEolgKU56oSF8cAeShAAZFuPgFQZR4UAnhlZvq8MLOn/rv+frIg45WDLBYssoc42KmZvTezlx0wqsYHAPrZHSlAnYGkqnPuMHOVUQXUElWkK7oASiaSapFAPjeyqxJdEIsAKhBp5NINLGPpgigiHMoK4K6rbr6I5EWjGk2IaAw143K+WwA3LSCSEqrWZ9o4A6DrYbR8QDDq5de5d4JPjLwggpAwV5mNtwAKtZJcAtg0xjaD2AFYRff2AtTOl856oxIbANLMQSwF0M2zs07yrZl9D3YbtmIYQ5/vYsdK8KYlPne9cNZJakQ/BjmuAZzV34c+4ECyYJVszvnSMSMpAT8PINb1y2vWiBxEENFuSu5wzHw8fwQAWwDa3BBdTuh9VbmzMTuJxnTmtKX1w+mqC8B1Io1kYybTWo93O1MF+YreKf0AFcTPRKBZK8qht77tHsDJYgCHUP++BRD7pPU1ktl6ueNu3wI3EYlN736F/FuCmZxySOpaNKoHCq9G/E8APBhT8YF0V+7jBxB+QPkdJNXRXT5yEAnwHYBTOaF2rL7qsBHFxDx8Z5qKd8ENz8ZVIynBfRmvhSK7WC/WumBXmeVOxDgzDSsBZLZZP3PSW6+CWjP2hv2IjcTIoFprAbRONTopZZYdtWHobVCxCHZTNBAJquQIE3oFIvhsHCM/2JQpCEViZv/0j0p2msmql2gmB/DdqGzakSxX5dIN542jmO6ZvHAWAGz/A5faTa6olv+KAAAAAElFTkSuQmCC');
  background-size:21px 21px;
  background-color:#e22219;
  background-position:center center;
  background-repeat:no-repeat;
  display:block;
}
.social-icons{
  margin:0 20px 0 0;
  padding:0;
  list-style:none;
  float:right;
}

.social-icons li{
  float:left;
  margin:6px 2px;
}

.social-icons li:last-child{
  margin-right:0 !important;
}

.main-menu{
  max-width:1200px;
  width:100%;
  margin:0 auto;
  border-top:3px solid #e22219;
}

.menu-place{
  max-width:1200px;
  width:100%;
  margin:0 auto;
}

ul.menu-list{
  margin:0;
  padding:0;
  list-style:none;
  float:left;
}

ul.menu-list > li{
  float:left;
  margin:0;
  padding:0;
}

ul.menu-list > li > a{
  text-decoration:none;
  color:#263238;
  display:block;
  padding:15px 20px;
  font-size:16px;
}

ul.menu-list > li > a:hover{
  color:#FFF;
  background-color:#e22219;
  transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
  -webkit-transition:all 0.4s ease;
}

ul.menu-list > li.active > a{
  color:#FFF;
  background-color:#e22219;
}


ul.outside{
  margin:0;
  padding:0;
  left:0;
  list-style:none;
  position:absolute;
  z-index:10;
  display:none;
  background-color:#d4dfe6;
  width:100%;
}

ul.outside > li{
  width: 18%;
  padding:16px 0;
  text-align:center;
  cursor:pointer;
  font-size:16px;
  display:block;
}

ul.outside > li:hover{
  background-color:#eaf0f3;
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}





ul.inside{
  margin:0 !important;
  padding:0 !important;
  list-style:none;
  position:absolute;
  left:18%;
  top:0;
  background-color:#eaf0f3;
  height:100%;
  display:none;
}

ul.outside > li.active ul.inside{
  display:block;
  text-align:left;
}

ul.outside > li.active{
  background-color:#eaf0f3;
}


ul.inside li{
  width:48%;
  max-height:150px;
  margin:4px !important;
  padding:0 !important;
  display:inline-block;
  vertical-align:top;
  text-align:left;
}

ul.inside li a{
  display:block;
  color:#263238;
  text-decoration:none;
  padding:5px;
}

ul.inside li a:hover{
  background-color:#d4dfe6;
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}

ul.inside li div{
  display:inline-block;
  vertical-align:top;
}
ul.inside .inside-image{
  width:46%;
  max-height:150px;
  overflow:hidden;
}
ul.inside .inside-image img{
  width:100%;
  display:block;
}
ul.inside .inside-desc{
  width:53%;
  text-align:left;
}

ul.menu-list > li a.arrow_down {
  display:block;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA7UlEQVRIS+2UPRKCMBBGd0sLZ7CLhQx6Ao/AUfAGHMUjeBRu4A00YpNOZiws4wQmGSYhbPjrSENB8l52vwWEhRcuzIdVQHYY3wlLD1wU5M4RGxQbyyO7AYKMH+IyguE9UnMBmpDnlmh4/BSZmaK5JG24qUDXOVViwx3BJ4miL24KQHkfmkkDx/NW/tIdryp9aedDMxIprzEXdVDUep32OUrIbLhTgQYNkZQJywAx74J7BepFiISC9wooSQicFPgkofAggS2pc+rpuT0Qwb9rkwkA+ALtmrZgga5EPdtzTo3wIAEFm1zBKhjTAfLMHzkRmC+dZiBoAAAAAElFTkSuQmCC');
  background-repeat:no-repeat;
  background-size:18px 18px;
  background-position:center right 10px;
  padding-right:30px !important;
}

ul.menu-list > li.more ul{
  position:absolute;
  margin:0;
  padding:0;
  list-style:none;
  background-color:#FFF;
  z-index:9;
  -webkit-box-shadow: 5px 9px 21px -9px rgba(128,128,128,1);
  -moz-box-shadow: 5px 9px 21px -9px rgba(128,128,128,1);
  box-shadow: 5px 9px 21px -9px rgba(128,128,128,1);
  display:none;
}

ul.menu-list > li.more ul li a{
  padding:8px 25px;
  display:block;
  color:#263238;
  text-decoration:none;
}

ul.menu-list > li.more ul li a:hover{
  background-color:#e22219;
  color:#FFF;
}

.gbtimesDatePicker{
  padding:0 !important;
}

.gbtimesDatePicker ul{
  margin:0;
  padding:0;
  list-style:none;
}
.gbtimesDatePicker table td{
  width:16px !important;
  height:16px !important;
  line-height:16px !important;
}

.gbtimesDatePicker .datepicker-days table td:hover,.gbtimesDatePicker .datepicker-days table th:hover,.gbtimesDatePicker .datepicker-decades table th:hover,.gbtimesDatePicker .datepicker-years table th:hover,.gbtimesDatePicker .datepicker-months table th:hover{
  background-color:#e22219 !important;
  color:#FFF;
}


.gbtimesDatePicker .datepicker-days table td.active{
  background-color:#000 !important;
  color:#FFF;
}

.gbtimesDatePicker .datepicker-decades span{
  font-size:12px !important;
  width: 80px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.gbtimesDatePicker .datepicker-months span,.gbtimesDatePicker .datepicker-years span{
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.gbtimesDatePicker .datepicker-months span:hover,.gbtimesDatePicker .datepicker-years span:hover,.gbtimesDatePicker .datepicker-decades span:hover{
  background-color:#e22219 !important;
  color:#FFF;
}

.gbtimesDatePicker .datepicker-months span.active,.gbtimesDatePicker .datepicker-years span.active{
  background-color:#000 !important;
  color:#FFF;
}


.gbtimesDatePicker li, .gbtimesDatePicker a, .gbtimesDatePicker td, .gbtimesDatePicker span, .gbtimesDatePicker i, .gbtimesDatePicker p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300 !important;
  font-size:14px;
}

.slider{
  position:relative;
  margin:10px 0;
}

.slider .active-item{
  position:relative;
  max-width:720px;
  overflow:hidden;
  float:left;
}

.slider .active-item .slide-image{
   width:720px;
   height:480px;
   position:relative;
   overflow:hidden;
}
.slider .active-item .slide-image ul li{
   position:absolute;
   display:none;
   left:0;top:0;
  height:480px;
}

.slider .active-item .slide-image ul li.active{
  display:block;
}

.slider .active-item .slide-image ul li a{
  color:#263238;
  margin:0 auto;
}

.slider .active-item .slide-image img{
  max-width:720px;
  width:100%;
}

.slider .active-item .next{
  background-image:url('/theme/images/arrow-right.png');
  background-size:47px 81px;
  background-repeat:no-repeat;
  width:47px;
  height:81px;
  display:block;
  padding:5px 0 5px 10px;
  position:absolute;
  z-index:9;
  right:0;
  top:41%;
  cursor:pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.slider .active-item .previous{
  background-image:url('/theme/images/arrow-left.png');
  background-size:47px 81px;
  background-repeat:no-repeat;
  width:47px;
  height:81px;
  display:block;
  padding:5px 10px;
  position:absolute;
  z-index:9;
  left:10px;
  top:41%;
  cursor:pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.slider-dots{
  list-style:none;
  position:absolute;
  bottom:5px;
  z-index:9;
  width:100%;
  max-width:720px;
}

.slider-dots ul{
  position:relative;
  width:200px;
  margin:0 auto;
  padding:0;
  text-align:center;
}

.slider-dots ul li{
  margin:2px;
  display:inline-block;
  text-align:center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.slider-dots ul li a{
  background-image:url('/theme/images/dot.png');
  background-repeat:no-repeat;
  background-size:13px 13px;
  width:13px;
  height:13px;
  display:block;
  cursor:pointer;
}

.slide-items{
  position:relative;
  float:left;
  max-width:470px;
  width:100%;
  margin-left:10px;
}

.slide-items > div{
  margin-bottom:10px;
}

.slide-items > div a{
  background-color:#e22219;
  color:#FFF;
  text-decoration:none;
  display:block;
  text-align:center;
  width:46%;
  padding:4px 0 5px 0;
}

.slide-items ul{
  margin:0;
  padding:0;
  list-style:none;
  max-height:445px;
  overflow-y:scroll;
}

.slide-items ul li.active{
  background-color:#eaf0f3;
}

.slide-items ul li{
  margin-bottom:4px;
  position:relative;
  padding:3px 0 3px 0;
}

.slide-items ul li:hover{
  background-color:#eaf0f3;
  transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
  -webkit-transition:all 0.4s ease;
}

.slide-items ul li a{
  text-decoration:none;
  color:#263238;
}

.slide-items ul li a div{
  display:inline-block;
  vertical-align:top;
}

.slide-items ul li a div.slide-image-small{
  width:46%;
  overflow:hidden;
  position:relative;
  height:140px;
}

.slide-items ul li a div.slide-image-small img{
  width:100%;
}

.slide-items ul li a div.slide-text-small{
  width:52%;
  overflow:hidden;
  position:relative;
  height:140px;
}

.slide-items ul li a div.slide-text-small div{
  max-height:72px;
  overflow:hidden;
}

.slide-items ul li a div.slide-text-small span{
  position:absolute;
  bottom:0;
  left:0;
}

.slide-title{
  position:absolute;
  left:0;
  bottom:65px;
  z-index:1;
  background-color:#FFF;
  opacity:0.75;
  padding:10px 25px;
  font-size:18px;
  max-width:310px;
}
.horizontal-items-3{
  position:relative;
  margin-top:10px;
}

.horizontal-items-3-place h4{
  font-weight:100;
}

.horizontal-items-3-place > h4 a{
  font-weight:100;
  background-color:#e22219;
  text-decoration:none;
  color:#FFF;
  text-align:center;
  max-width:390px;
  width:100%;
  display:block;
  padding:5px 0;
}

.horizontal-items-3-place ul{
  margin:10px 0 0 0;
  padding:0;
  list-style:none;
}
.horizontal-items-3-place ul li{
  max-width:390px;
  width:100%;
  overflow:hidden;
  display:inline-block;
  position:relative;
  margin-right:10px;
  max-height:260px;
}

.horizontal-items-3-place ul li a{
  text-decoration:none;
  color:#263238;
}

.horizontal-items-3-place ul li:last-child{
  margin-right:0 !important;
}

.horizontal-items-3-image{
  position:relative;
}

.horizontal-items-3-image img{
  width:100%;
}

.horizontal-items-3-title{
  position:absolute;
  left:0;
  bottom:0;
  z-index:1;
  padding:10px;
  background-color:#FFF;
  display:none;
  opacity:0.75;
  max-width:370px;
  width:100%;
}

.horizontal-items-3-title h4{
  text-align:center;
  font-weight:600;
}


/* 4 horizontal items */

.horizontal-items-4{
  position:relative;
  margin-top:10px;
}

.horizontal-items-4 ul{
  margin:0;
  padding:0;
  list-style:none;
}

.horizontal-items-4 ul li{
  max-width:264px;
  width:100%;
  display:inline-block;
  position:relative;
  margin:0 16px;
  height:260px;
  vertical-align:top;
}

.horizontal-items-4-image{
  position:relative;
  overflow:hidden;
  height:260px;
  background-color:#304148;
}
.horizontal-items-4-image img{
  height:100%;
}

.horizontal-items-4-title{
  position:absolute;
  left:0;
  bottom:0;
  z-index:1;
  background-color:#FFF;
  display:none;
  opacity:0.75;
  width:100%;
}

.horizontal-items-4-title h4{
  padding:10px;
}
.horizontal-items-4-title span{
  padding:0 10px 10px 10px;
  display:block;
}

.horizontal-items-4-place ul li a{
  text-decoration:none;
  color:#263238;
}

.horizontal-items-4 ul li h4{
  text-align:center;
}

.horizontal-items-4 ul li h4 a{
  font-weight:100;
  background-color:#e22219;
  z-index:1;
  text-decoration:none;
  color:#FFF;
  text-align:center;
  display:block;
  padding:6px 15px;
  position:absolute;
  margin-left:-15px;
  -webkit-box-shadow: -2px 12px 19px -6px rgba(0,0,0,0.43);
  -moz-box-shadow: -2px 12px 19px -6px rgba(0,0,0,0.43);
  box-shadow: -2px 12px 19px -6px rgba(0,0,0,0.43);
}
.horizontal-items-4 ul li h4 a:before{
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;  /* left arrow slant */
  border-top: 0 solid transparent; /* right arrow slant */
  border-right: 15px solid #6a2c2c; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}

.banner{
  text-align:center;
  position:relative;
  margin-top:20px;
}

.banner-place{
  text-align:center;
  background-color:#263238;
  width:1165px;
  height:130px;
  display:block;
  margin:0 auto;
}
.banner-place span{
  line-height:130px;
  color:#FFF;
}

/* partners */

.partners{
  position:relative;
  margin-top:20px;
}

.partners .partners-place h4 a{
  font-weight:100;
  background-color:#e22219;
  text-decoration:none;
  color:#FFF;
  text-align:center;
  max-width:390px;
  width:100%;
  display:block;
  padding:5px 0;
}

.partners .partners-place > div{
  position:relative;
  width:100%;
}

.partners .partners-place ul{
  margin:10px 5px;
  padding:0;
  list-style:none;
  width:100%;
}

.partners .partners-place ul li{
  display:inline-block;
  margin:10px 15px;
}

.partners .partners-place ul li img{
  max-width:350px;
  width:100%;
}

.shortcode,.news{
  position:relative;
}
.shortcode ul li,.news ul li{
  width:48%;
  max-height:150px;
  margin:10px 4px !important;
  padding:0 !important;
  display:inline-block;
  vertical-align:top;
  text-align:left;
  position:relative;

}

.shortcode ul li a,.news ul li a{
  display:block;
  color:#263238;
  text-decoration:none;
  padding:5px;
}

.shortcode ul li a:hover,.news ul li a:hover{
  background-color:#d4dfe6;
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}

.shortcode ul li div,.news ul li div{
  display:inline-block;
  vertical-align:top;
}

.shortcode ul .image,.news ul .image{
  width:46%;
  max-height:150px;
  overflow:hidden;
}

.shortcode ul .image img,.news ul .image img{
  width:100%;
  display:block;
}

.shortcode ul .desc,.news ul .desc{
  width:53%;
  text-align:left;
}

.shortcode ul .time-author,.news ul .time-author{
  position:absolute;
  bottom:0;
  left:47%;
}

.shortcode ul .time-author span:first-child,.news ul .time-author span:first-child{
  margin-right:20px;
}

.shortcode > h4,.news > h4{
  color:#263238;
  padding:10px;
}

/* NEWS LIST */
.news_list{
  position:relative;
  width:455px;
}

.news_list ul{
  list-style:none;
  margin:0;
  padding:0;
}

.news_list ul li{
  width:100%;
  max-height:150px;
  margin:10px 4px !important;
  padding:0 !important;
  vertical-align:top;
  text-align:left;
  position:relative;

}

.news_list ul li a{
  display:block;
  color:#263238;
  text-decoration:none;
  padding:5px;
}

.news_list ul li a:hover{
  background-color:#d4dfe6;
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}

.news_list ul li div{
  display:inline-block;
  vertical-align:top;
}

.news_list ul .image{
  width:40%;
  max-height:140px;
  overflow:hidden;
}

.news_list ul .image img{
  width:100%;
  display:block;
}

.news_list ul .desc{
  width:53%;
  height:113px;
  overflow:hidden;
  text-align:left;
}

.news_list ul .time-author{
  position:absolute;
  bottom:5px;
  left:42%;
}

.news_list ul .time-author span:first-child{
  margin-right:20px;
}


.news_list > a{
  background-color: #e22219;
  color: #FFF;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 39.5%;
  padding: 4px 0 5px 0;
  position:relative;
  left:9px;
}

.pick_of_the_day{
  position:relative;
  max-height:300px;
  padding:10px;
  width:100%;
}

.pick_of_the_day > a > div{
  display:inline-block;
  vertical-align:top;
}

.pick_of_the_day > a{
  color:#263238;
  text-decoration:none;
}

.pick_of_the_day .image{
  position:relative;
  height:300px;
  max-width:535px;
}
.pick_of_the_day .info{
  max-width:600px;
  height:300px;
  position:relative;
}

.time-author{
  position:absolute;
  bottom:0;
  left:0;
}

.pick_of_the_day .time-author span:first-child{
  color:#e22219;
}

.time-author span{
  margin-right:20px;
}

#gbtimes_news,#partner_news{
  position:relative;
  width:100%;
  margin-top:20px;
}

#gbtimes_news > h4,#partner_news > h4{
  background-color:#e22219;
  color:#FFF;
  font-weight:100;
  max-width:205px;
  width:100%;
  position:relative;
  left:9px;
  padding:5px 15px;
}

#gbtimes_news .show_more,#partner_news .show_more{
  margin:30px auto;
  width:20%;
  text-align:center;
}

#gbtimes_news .show_more button,#partner_news .show_more button{
  padding:6px 15px;
  background-color:#e22219;
  color:#FFF;
  border:none;
  outline:none;
  font-size:16px;
  cursor:pointer;
}

.gifLoader{
  display:none;
}



.cat_tabs div.tabs{
  padding:10px;
}

.cat_tabs div.tabs > div{
  display:inline-block;
  margin-right:20px;
  cursor:pointer;
  padding:6px 15px;
}

.cat_tabs div.tabs > div:hover{
  background-color:#e22219;
  color:#FFF;
}

.cat_tabs div.tabs > div.active{
  background-color:#e22219;
  color:#FFF;
}

.cat_tabs .tab_content .tab{
  display:none;
}

.cat_tabs .tab_content .active{
  display:block;
}

.read{
  margin:2% auto;
  width:90%;
}

.read > h1{
  color:#263238;
  padding:10px;
}

.read .news_side{
  display:inline-block;
  max-width:702px;
  width:100%;
  vertical-align:top;
}

.read .news_side h1{
  font-size:25px;
  color:#263238;
  margin-bottom:10px;
}

.read .news_side .main_image{
  position:relative;
}

.read .news_side .main_image img{
  object-fit:cover;
  width:100%;
  height:475px;
  overflow:hidden;
}

.read .news_side .main_image .zoom{
  background-image:url('/theme/images/zoom.png');
  background-repeat:no-repeat;
  background-size:27px 29px;
  width:27px;
  height:29px;
  display:block;
  position:absolute;
  top:10px;
  left:10px;
  z-index:9;
}

.read .similar_side{
  display: inline-block;
  vertical-align: top;
}

.read .news_side .main_image .image_title{
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: 1;
  background-color: #FFF;
  display: none;
  opacity: 0.9;
  max-width: 702px;
  width: 100%;
  text-align: center;
}

.read .news_side .main_image .image_title span {
  padding: 10px 30px;
  display: block;
}

.read .news_side .other_images ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.read .news_side .other_images ul li {
  float: left;
  margin-right: 6px;
  max-height:70px;
  overflow:hidden;
}

.read .news_side .other_images ul li:nth-child(6n){
  margin-right: 0;
}

.read .news_side .other_images ul li img{
  width:112px;
}

.read .news_side .other_images ul li:hover{
  opacity:0.6;
}

.read .tags{
  margin:20px 0;
}

.read .tags ul{
  position:relative;
  top:8px;
  margin:0;
  padding:0;
  list-style:none;
  display:inline-block;
}

.read .tags h2{
  display:inline-block;
  font-size:20px;
  font-weight:100;
}

.read .tags ul li{
  float:left;
  margin:5px;
}

.read .tags ul li a{
  text-decoration:none;
  color:#ee3c23;
  font-weight:bold;
}

.read .tags ul li a:hover{
  text-decoration:underline;
}

.read .social-network h2{
  display:inline-block;
  font-size:20px;
  font-weight:100;
}

.read .social-network ul{
  position:relative;
  top:15px;
  margin:0;
  padding:0;
  list-style:none;
  display:inline-block;
}

.read .comments{
  margin:20px 0;
}

.read .social-network ul li{
  float:left;
  margin:5px;
}

.video_player{
  margin:10px 0;
}

#disqus_thread a{
  color:#ee3c23;
}

.footer{
  position:relative;
  max-width:1200px;
  width:100%;
  border-top:3px solid #e22219;
  margin:100px auto;
  background-color:#f0f7fb;
}

.footer-place{
  position:relative;
  max-width:1200px;
  width:100%;
  margin:50px auto;
}

.footer-place > div{
  display:inline-block;
  vertical-align:top;
  width:45%;
}
.footer-place > div:first-child{
  width:50%;
}

.footer-place .logo-copy{
  text-align:center;
}

.footer-place .logo-copy .logo a{
  background-image:url('/theme/images/logo-black.png');
  background-size:194px 59px;
  background-repeat:no-repeat;
  background-position:center center;
  display:block;
  width:100%;
  height:59px;
  text-align:center;
}

.footer-place .logo-copy .copy{
  margin-top:50px;
}

.footer-menu .footer-menu-place{
   position:relative;
}

.footer-menu .footer-menu-place ul{
  width:46%;
  list-style:none;
  float:left;
}

.footer-menu .footer-menu-place ul li{
  margin:5px;
}

.footer-menu .footer-menu-place ul li a{
  color:#263238;
  text-decoration:none;
}
.radio-player{
  position:fixed;
  bottom:0;
  background:#FFF;
  height:65px;
  width:100%;
  opacity:1;
  z-index:999;
  border-top:1px solid #ee3c23;
}
.radio-player .radio-player-space{
  position:relative;
  padding:0 40px 0 40px;
}

.radio-player .radio-player-space > div{
  display:inline-block;
}

.player-buttons{
  position:absolute;
}

.player-buttons > div{
  float:left;
}

.player-buttons .play-pause a.play{
  background-image:url('../images/play1.png');
}

.player-buttons .play-pause a.pause{
  background-image:url('../images/pause.png');
}

.player-buttons .play-pause a{
  background-repeat:no-repeat;
  background-size:29px 33px;
  background-position:center center;
  width:38px;
  height:64px;
  display:block;
  cursor:pointer;
}

.radio-player-playlist{
  margin-left:300px;
}

.radio-player-playlist ul{
  list-style:none;
  margin:0;
  padding:0;
}


.radio-player-playlist ul li div{
  float:left;
}



.radio-player-playlist ul li.frequencies{
  position:absolute;
  right:20px;
}

.radio-player-playlist ul li.frequencies .button a:hover{
  background-color:#ee3c23;
  color:#FFF;
}

.radio-player-playlist ul li .desc h3,.radio-player-playlist ul li .desc h5{
  font-weight:500;
}


.radio-player-playlist ul li{
  float:left;
  position:relative;
  width:120px;
  overflow:hidden;
  height:64px;
}

.radio-player-playlist ul li:last-child{
  overflow:initial;
}

.radio-player-playlist ul li .play-content{
  width:750px;
}
.radio-player-playlist ul li .desc{
  color:#4f4d4d;
  padding:15px 5px;
  border-right:2px solid #ee3c23;
  text-align:center;
  display:block;
  position:relative;
  top:0;
  left:0;
}




.radio-player-playlist ul li .button a{
  text-decoration:none;
  color:#ee3c23;
  height:65px;
  display:block;
  cursor:pointer;
  width:120px;
  text-align:center;
  padding:0 10px;
}



.radio-player-playlist ul li.active .button a{
  text-decoration:none;
  color:#FFF;
  background-color:#ee3c23;
  height:65px;
  display:block;
  cursor:pointer;
  width:120px;
}

.radio-player-playlist ul li .button a span{
  line-height:70px;
  text-transform:uppercase;
}

.radio-stations{
  position:fixed;
  display:none;
  background-color:#ee3c23;
  right:0;
  bottom:65px;
  width:100%;
  z-index:999;
  padding:20px;
}

.radio-stations .stations-content{
  margin:0 auto;
  width:1200px;
}

.radio-stations .block{
  float:left;
}

.radio-stations h3{
  color:#FFF;
  text-transform:uppercase;
  margin-bottom:20px;
}

.radio-stations ul{
  margin:0;
  padding:0;
  list-style:none;
}
.radio-stations ul li{
  color:#FFF;
  float:left;
  width:300px;
  min-height:30px;
  font-size:15px;
  text-align:center;
}

#volume{
  width:100%;
  height:2px;
  display:block;
  background-color:#c4bfbc;
  z-index:1;
}
#volume div{
  background-color:#ee3c23;
  height:2px;
  width:100%;
  display:block;
}
#volume span{
  background:url('../images/round_1.png');
  background-size:10px 10px;
  width:10px;
  height:10px;
  display:block;
  position:relative;
  top: -.4em;
  margin-left: -.6em;
  outline:none;
}

#volume span.ui-state-hover{
  background:url('../images/round_2.png') no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
  display:block;
  position:relative;
  top: -.6em;
  margin-left: -.7em;
  outline:none;
  transition:all 0.4s ease;
}

#sound_icon{
  cursor:pointer;
}
#sound_icon span{
  width:32px;
  height:28px;
  display:block;
  background-image:url('../images/tune_2.png');
  background-repeat:no-repeat;
  background-size:29px 28px;
  background-position:center center;
  transition:all 0.4s ease;
}

#sound_icon span.tune2{
  background-image:url('../images/tune_1.png');
  background-size:25px 28px;
  transition:all 0.4s ease;
}

#sound_icon span.tune3{
  background-image:url('../images/tune_3.png');
  background-size:32px 28px;
  transition:all 0.4s ease;
}

#sound_icon span.mute{
  background-image:url('../images/mute.png');
  background-size:25px 28px;
  transition:all 0.4s ease;
}

.online-radios{
  position:absolute;
  left:0;
  top:-66px;
  width:100%;
  display:none;
  text-align:center;
}

.online-radios ul{
  width:100%;
  margin:0 auto;
  padding:0;
  list-style:none;
  text-align:center;
  position:relative;
  background:#FFF;
  height:65px;
  border-top:3px solid red;
}

.online-radios ul li{
  display:inline-block;
  width:200px;
}

.online-radios ul li a{
  padding:10px 25px;
  text-decoration:none;
  display:block;
  color:#263238;
}

.online-radios ul li a:hover{
  background-color:#ee3c23;
  color:#FFF;
}
.online-radios ul li a strong{
  display:block;
  margin-bottom:5px;
}

.online-radios ul li a.active{
  background-color:#ee3c23;
  color:#FFF;
}
